/avinya
/.env
/audio_const.wav
/audio_received.wav
/capture_frame.jpg
/output.mp3
/speech.mp3
/firebase_credentials.json
/credentials.json
/avtemp-660d8-default-rtdb-export.json
/test.json
/received_audio
/pi_temp.py